body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.reset-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.reset-container h2 {
    font-size: 24px;
    color: #1e293b;
    margin-bottom: 13px;
}

.reset-container p {
    font-size: 11px;
    color: #334155;
    margin-bottom: 30px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 15px;
    font-weight: bold;
    color: #1e293b;
}

input[type="email"] {
    width: 93%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background: #2c3e50;
    border: none;
    color: white;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;

}

.back-link {
    margin-top: 15px;
    display: inline-table;
    color: #2980b9;
    text-decoration: none;
    font-size: 14px;

}

.back-link:hover {
    text-decoration: underline;
    color: #0981d1;
}

.cross {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    
    
}
