body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h2 {
    margin-bottom: 24px;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: 600;
}

input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

button {
    padding: 10px;
  background: #2c3e50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.options {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.options a {
    text-decoration: none;
    color: #2980b9;
    cursor: pointer;
}

.options a:hover {
    text-decoration: underline;
    color: #0981d1;
}
.password-field {
    position: relative;
    width: 93%;
  }
  
  .password-field input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }
  
.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .icon-toggle {
    position: absolute;
    right: 10px;
    top: 20%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  
  .eye,
  .eye-slash {
    position: absolute;
    width: 18px;
    transition: opacity 0.2s ease;
  }
  
  #toggle:not(:checked) ~ .icon-toggle .eye-slash {
      opacity: 1;
    }
    
    #toggle:not(:checked) ~ .icon-toggle .eye {
      opacity: 0;
    }
    
    #toggle:checked ~ .icon-toggle .eye-slash {
      opacity: 0;
    }
    
    #toggle:checked ~ .icon-toggle .eye {
      opacity: 1;
    }

.cross {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;   
}
