body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.signup-container {
  background: #fff;
  padding: 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

h2 {
  margin-bottom: 20px;
  color: #2d2c2c;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.password-field {
  position: relative;
  width: 93%;
}

.password-field input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

button {
  padding: 10px;
  background: #2c3e50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-link {
  margin-top: 15px;
  font-size: 14px;
}

.login-link a{
  color: #2980b9;
  text-decoration: none;
  cursor: pointer;
}

.login-link a:hover{
  color: #0981d1;
  text-decoration: underline;
  
}

.icon-toggle {
  position: absolute;
  right: 10px;
  top: 20%;
  transform: translateY(-50%);
  cursor: pointer;
}

.eye,
.eye-slash {
  position: absolute;
  width: 18px;
  transition: opacity 0.2s ease;
}

#toggle:not(:checked) ~ .icon-toggle .eye-slash {
    opacity: 1;
  }
  
  #toggle:not(:checked) ~ .icon-toggle .eye {
    opacity: 0;
  }
  
  #toggle:checked ~ .icon-toggle .eye-slash {
    opacity: 0;
  }
  
  #toggle:checked ~ .icon-toggle .eye {
    opacity: 1;
  }
  .cross {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;   
}
